<div class="media m-b-30 p-t-20">
  <h4 class="font-bold m-t-0">Your message title goes here</h4>
  <hr>
</div>
<% if @dispute.present? %>
    <div class="over-flow p-10">
      <div class="row p-10">
        <div class="chat col-lg-6 col-md-6 col-sm-6">
          <p><%= @dispute.description %></p>
          <span class="time-right">11:00</span>
        </div>
      </div>
      <% @messages.each do |message| %>
          <% if message.email == current_vendor.email %>
              <div class="row p-10">
                <div class="mychat col-lg-6 col-md-6 col-sm-6" style="float:right;">
                  <p><%= message.body %></p>
                  <span class="time-left"><%= message.created_at.strftime("%H:%M") %></span>
                </div>
              </div>
          <% else %>
              <div class="row p-10">
                <div class="chat col-lg-6 col-md-6 col-sm-6">
                  <p><%= message.body %></p>
                  <span class="time-right"><%= message.created_at.strftime("%H:%M") %></span>
                </div>
              </div>
          <% end %>
      <% end %>
      <hr>
    </div>
<% end %>
<div class="p-10">
  <% @presets.each do |preset| %>
      <a href="#" class="btn btn-default btn-custom-class" data-desc="<%= preset.message %>" id="<%= preset.id %>"><%= preset.name %></a>
  <% end %>
  <% if @tracking_no.present? %>
      <a class=" btn btn-primary" id="enter_track_no">Send Tracking no</a>
      <div class="hidden" id="tracking_id_content1"> Here is your tracking number <%= @tracking_no if @tracking_no.present? %> and tracking
        url <%= @tracking_url if @tracking_url.present? %> </div>
  <% elsif @status.present? %>
      <a class=" btn btn-primary disabled" id="enter_track_no" disabled="disabled">Send Tracking no</a>
      <div class="hidden" id="tracking_id_content1"><%= @status %> </div>
  <% else %>
      <button heref="#" title="No tracking available" class="btn btn-default disabled" disabled="disabled"><span>Send Tracking no</span>
      </button>
  <% end %>

</div>
<%= form_for @chat, :url => create_messages_vendors_dashboard_index_path(@chat), :method => :post, remote: true do |f| %>
    <div class="form-group">
      <div class="col-md-12">
        <%= f.text_area :body, id: 'TextArea', class: 'form-control', rows: "5", placeholder: "Your Text Goes Here.." %>
      </div>
      <%= f.hidden_field :vendor_dispute_id, :value => @dispute.id if @dispute.present? %>
      <%= f.hidden_field :email, :value => current_vendor.email %>

      <% if @dispute.present? %>
          <%= f.submit class: 'btn btn-default' %>
      <% end %>
    </div>
<% end %>
<% if params[:created_at].present? %>
    <div class="chat col-lg-10 col-md-9 col-sm-8 col-xs-12 ">
      <div class=" col-lg-3 col-md-3 col-sm-3">
        <p>Name:<%= @name if @name.present? %></p>
        <span class="time-right">order#<%= @dispute.order_number if @dispute.present? %></span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <p>fulfilled at:<%= @fulfilled_at.to_date if @fulfilled_at.present? %></p>
        <span class="time-right">Created at:<%= @created_at.to_date if @created_at.present? %></span>
      </div>
    </div>
<% end %>
<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
  $("#enter_track_no").click(function () {
    $("#TextArea").val($("#tracking_id_content1").text());
  });

</script>