<div class="col-lg-6">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title box-title">Form Code</h4>
      <div class="card-content">
        <p id="p1"><%= @str='<form action="https://www.swirblesolutions.com/vendors_dashboard/customer_issues" method="post">
		 <input type="hidden" id="vendor_id" name="vendor_id" ' + "value=#{current_vendor.id}>"+'
		<div style="margin-bottom: 15px;">
			<label style="margin-bottom: 5px; display: block;' + "color:#{@input_fields};" ' ">First Name</label>
			<input type="text" name="first_name" placeholder="First name" required style="height: 35px; border:' + "#{@input_fields}" +' 1px solid; padding-left: 10px; padding-right: 10px; width: 100%; box-sizing: border-box;outline-color:' "#{@input_fields};" '"">
		</div>
		<div style="margin-bottom: 15px;">
			<label style="margin-bottom: 10px; display: block; ' + "color:#{@input_fields};" ' ">Last Name</label>
			<input type="text" name="last_name" placeholder="Last name" required style="height: 35px; border: ' + "#{@input_fields}" +' 1px solid; padding-left: 10px; padding-right: 10px; width: 100%;box-sizing: border-box; outline-color:' "#{@input_fields};" '"">
		</div>
		<div style="margin-bottom: 15px;">
			<label style="margin-bottom: 10px; display: block; ' + "color:#{@input_fields};" ' ">Email</label>
			<input type="text" name="email" placeholder="Email" required style="height: 35px; border: ' + "#{@input_fields}" +' 1px solid; padding-left: 10px; padding-right: 10px; width: 100%;box-sizing: border-box; outline-color:' "#{@input_fields};" '"">
		</div>
		<div style="margin-bottom: 15px;">
			<label style="margin-bottom: 10px; display: block; ' + "color:#{@input_fields};" ' ">Order No</label>
			<input type="text" name="order_number" placeholder="Order No" required style="height: 35px; border: ' + "#{@input_fields}" +' 1px solid; padding-left: 10px; padding-right: 10px; width: 100%;box-sizing: border-box; outline-color:' "#{@input_fields};" '" ">
		</div>
		<div style="margin-bottom: 15px;">
			<label style="margin-bottom: 10px; display: block; ' + "color:#{@input_fields};" ' ">Description of Issue</label>
			<textarea name="description" placeholder="Description of Issue" required style="height: 100px; border: ' + "#{@input_fields}" +' 1px solid; padding-left: 10px; padding-right: 10px; width: 100%;box-sizing: border-box; resize: none; outline-color:' "#{@input_fields};" '"></textarea>
		</div>
		<div style="margin-bottom: 15px;">
			<input onclick="myFunction()" type="submit" name="submit" value="Submit" style="' "background-color:#{@input_fields};" ' color: #fff; border: none; height: 35px; line-height: 35px;padding: 0px; padding-left: 20px; padding-right: 20px; cursor: pointer;">
		</div>
	</form>
	<script>
function myFunction() {
    alert("Your request is submitted");
  setTimeout(
    function()
    {
     $("form").each(function() { this.reset() });
    }, 5000);

}
</script>
' %></p>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          <button onclick="copyToClipboard('#p1')" class="btn btn-primary" id="copybutton">Copy Form Code</button>
        </div>
        <fieldset>
          <legend>Choose form colors</legend>
          <div>
            <input type="color" class="head" name="color" value=<%= @input_fields %>>
            <input id="in" onchange="chaa()" class="head" type="text" value="" placeholder="#000000">
            <script>
              function chaa() {
                var aa = $("#in").val();
                document.getElementById("head").value = aa;

              } </script>
          </div>
        </fieldset>
        <br>
        <% if VendorPage.where(vendor_id: current_vendor.id).present? %>
          <button type="button" id="update_to_store" class="btn btn-primary">Update Form on Store</button>
        <% else %>
          <button type="button" id="add_to_store" class="btn btn-primary">Add Form to Your Store</button>
        <% end %>
        <br>
        <% if VendorPage.where(vendor_id: current_vendor.id).present? %>
          <br>
          <br>
          <h5>Copy the below button code and paste it after closing of this div <strong><%= @div %></strong> in header.liquid. You can find it in theme directory in your store.</h5>
          <br>
          <p id="button_code"><%= @anchor_tag %></p>
          <br>
          <button onclick="copyToClipboard('#button_code')" class="btn btn-primary" id="copybuttoncode">Copy Button Code</button>
          <br>
          <br>
          <h5>Copy the below script and paste it inside <strong><%= @script %></strong> in theme.liquid. You can find it in theme directory in your store.</h5>
          <br>
          <p id="js_button_media_query"><%= @js_code %></p>
          <br>
          <button onclick="copyToClipboard('#js_button_media_query')" class="btn btn-primary" id="copyscriptcode">Copy Script Code</button>
      <% end %>
      </div>
    </div> <!-- /.card-body -->
  </div><!-- /.card -->
</div>

<div class="col-lg-6">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title box-title">Preview</h4>
      <div class="card-content">
        <%= @str.html_safe %>
      </div>
    </div> <!-- /.card-body -->
  </div><!-- /.card -->
</div>
<script>

  $(document).on("click", ".btn-custom-class", function (e) {
    e.preventDefault();
    var value = jQuery(this).data("desc");
    jQuery("#TextArea").text(value);
  });

  $(document).on("click", "#add_to_store", function (e) {
      e.preventDefault();
      $('#add_to_store').prop('disabled', true);
      $('#add_to_store').text('Adding to store');
      $.ajax({ url: '/home/add_to_store',
          type: 'GET',
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
              data: {code: $("#p1").text()},
          success: function(response) {
              $('#add_to_store').prop('disabled', false);
              $('#add_to_store').text('Add Form to Your Store');
              toastr.success('Form added to your store successfully', {timeOut: 5000});
              location.reload();
          }
      });
  });

  $(document).on("click", "#update_to_store", function (e) {
      e.preventDefault();
      $('#update_to_store').prop('disabled', true);
      $('#update_to_store').text('Updating page on store');
      $.ajax({ url: '/home/update_to_store',
          type: 'GET',
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          data: {code: $("#p1").text()},
          success: function(response) {
              $('#update_to_store').prop('disabled', false);
              $('#update_to_store').text('Update Form on Store');
              toastr.success('Form updated on your store successfully', {timeOut: 5000});
              location.reload();
          }
      });
  });


  function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).focus();
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
      toastr.success('Copied to clipboard', {timeOut: 5000});
  }

  var isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
  if (isSafari) {
    $("#color_fields").css("display", "none");
  } else {
    $("#color_fields").css("display", "block");
  }
</script>