<!-- Page Content -->

<div class="content">
  <!-- Animated -->
  <div class="animated fadeIn">
    <!-- Widgets  -->
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="stat-widget-five">
              <div class="stat-icon dib flat-color-1">
                <i class="pe-7s-cash"></i>
              </div>
              <div class="stat-content">
                <div class="text-left dib">
                  <div class="stat-text">$<span class="count"><%= @count %></span></div>
                  <div class="stat-heading">New Messages</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="stat-widget-five">
              <div class="stat-icon dib flat-color-2">
                <i class="pe-7s-cart"></i>
              </div>
              <div class="stat-content">
                <div class="text-left dib">
                  <div class="stat-text"><span class="count"><%= @dispute_count %></span></div>
                  <div class="stat-heading">New Created Disputes Today</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="stat-widget-five">
              <div class="stat-icon dib flat-color-3">
                <i class="pe-7s-browser"></i>
              </div>
              <div class="stat-content">
                <div class="text-left dib">
                  <div class="stat-text"><span class="count"><%= @total_unread %></span></div>
                  <div class="stat-heading">Unread Messages</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="stat-widget-five">
              <div class="stat-icon dib flat-color-4">
                <i class="pe-7s-users"></i>
              </div>
              <div class="stat-content">
                <div class="text-left dib">
                  <div class="stat-text"><span class="count"><%= @response_rate %></span></div>
                  <div class="stat-heading">Response Rate</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <% if params[:created_at].present? %>
      <div class="chat col-lg-10 col-md-9 col-sm-8 col-xs-12 ">
        <div class=" col-lg-3 col-md-3 col-sm-3">
          <p>Name:<%= @name if @name.present? %></p>
          <span class="time-right">order#<%= @dispute.order_number if @dispute.present? %></span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <p>fulfilled at:<%= @fulfilled_at.to_date if @fulfilled_at.present? %></p>
          <span class="time-right">Created at:<%= @created_at.to_date if @created_at.present? %></span>
        </div>
      </div>
  <% end %>
    <!-- /Widgets -->
    <!--  Traffic  -->
    <!-- To Do and Live Chat -->
    <div class="row">
      <%= render 'layouts/shared/dispute_list' %>
      <div class="col-lg-8" id="chat-view" >
      <%= render 'layouts/shared/chat_view' %>
        </div>
    </div>
    <!-- /To Do and Live Chat -->
  </div>
</div>
