<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Drop shipping Dashboard Page</h4>
      </div>
    </div>
    <%= @order %>
    <!--row -->
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-xs-12">
        <div class="col-lg-6 col-sm-6 col-xs-12">
          <div class="white-box">
            <h3 class="box-title">New Messages</h3>
            <ul class="list-inline two-part">
              <li><i class="ti-email text-info"></i></li>
              <li class="text-right"><span class="counter">20</span></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
          <div class="white-box">
            <h3 class="box-title">Automate Replies Sent</h3>
            <ul class="list-inline two-part">
              <li><i class="ti-email text-purple"></i></li>
              <li class="text-right"><span class="counter">16</span></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
          <div class="white-box">
            <h3 class="box-title">Unread Messages</h3>
            <ul class="list-inline two-part">
              <li><i class="icon-folder-alt text-danger"></i></li>
              <li class="text-right"><span class="counter">311</span></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
          <div class="white-box">
            <h3 class="box-title">Refund Request</h3>
            <ul class="list-inline two-part">
              <li><i class="ti-wallet text-success"></i></li>
              <li class="text-right"><span class="counter">11</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="form-code col-lg-6 col-sm-6 col-xs-12">
        <%= render 'form_code', input_fields: @input_fields ,background: @background  %>
      </div>
    </div>
    <div class="row">
      <!-- Left sidebar -->
      <div class="col-md-12">
        <div class="white-box">
          <div class="row">
            <div class="col-lg-2 col-md-3  col-sm-4 col-xs-12 inbox-panel">
              <div class="list-group mail-list m-t-20">
                Todays Disputes
                <table id="issue-id">
                  <% @issues.each do |issue| %>
                      <tr class="list-group-item active make-request" data-href="<%= vendors_dashboard_path(issue) %>">
                        <td class="p-3"><%= issue.first_name %></td>
                        <td class="p-3"><%= issue.last_name %></td>
                        <td class="p-3"><%= issue.order_number %></td>
                      </tr>
                  <% end %>
                </table>
                <br>

              </div>
            </div>
            <div class=" chatview col-lg-10 col-md-9 col-sm-8 col-xs-12 mail_listing">
              <%= render 'chat_view', messages: @messages, dispute: @dispute %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>


<script>
  $(document).on("click", ".btn-custom-class", function (e) {
    e.preventDefault();
    var value = jQuery(this).data("desc");
    jQuery("#TextArea").text(value);
  });


  function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).focus();
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
  }

  $(document).on("click", ".make-request", function (e) {
    e.preventDefault();
    var link = $(this).data("href");
    $.ajax({
      url: link,
      type: "GET"
    });
  });

  $(document).on("change", "#head", function (e) {
    e.preventDefault();
    var input_fields = this.value;
    $.ajax({
      type: "GET",
      url: "<%= vendors_dashboard_index_path %>",
      data: { 'input_fields' : input_fields   }

    });
  });

  $(document).on("change", "#body", function (e) {
    e.preventDefault();
    var background = this.value;
    $.ajax({
      type: "GET",
      url: "<%= vendors_dashboard_index_path %>",
      data: { 'background' : background  }

    });
  });



</script>