<div class="col-lg-4">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title box-title">Today's Disputes</h4>
      <div class="card-content">
        <div class="todo-list" style=" height: 600px; overflow: auto;">
          <div class="tdl-holder">
            <div class="tdl-content">
              <ul>
                <% if @issues.present? %>
                    <% @issues.each do |issue| %>
                        <li>
                          <label class="check-box make-request" data-href="<%= vendors_dashboard_path(issue) %>">
                            <%= issue.first_name %>
                            <%= issue.last_name %>
                            <%= issue.order_number %>
                            <% if issue.vendor_dispute_messages.present? && issue.vendor_dispute_messages.last.read == false %>
                              <i class="fa fa-circle" style="
                              color: #49a342;
                              "></i>
                            <% end %>
                            <% if issue.vendor_dispute_messages.present? %>
                              <%= "#{time_ago_in_words(issue.vendor_dispute_messages.last.created_at)} ago" %>
                            <% else %>
                              <%= "#{time_ago_in_words(issue.created_at)} ago" %>
                            <% end %>
                          </label>
                        </li>
                    <% end %>
                <% else %>
                    There is no disputes for today
                <% end %>
              </ul>
            </div>
          </div>
        </div> <!-- /.todo-list -->
      </div>
    </div> <!-- /.card-body -->
  </div><!-- /.card -->
</div>