<!-- Page Content -->
<div class=" content ">
  <%= form_tag disputes_path, :method => 'get', class: "search-form" do %>
      <p>
        <%= text_field_tag :search, params[:search], placeholder: 'Search Dispute', class: "form-control mr-sm-2", id: "search_dispute_index" %>
        <%= submit_tag "Search", name: nil, id: "submit_search_index" %>
      </p>
  <% end %>
  <%= puts '##################'*100%>
  <%= puts params %>
  <%= puts '##################'*100%>
  <% if params[:created_at].present? %>
      <div class="card">
        <div class="card-body">
          <div class="col-lg-12 col-md-12 col-sm-8 col-xs-12 ">
            <div class=" col-lg-6 col-md-6 col-sm-6">
              <ul>
                <li>Order Number:<%= @dispute.order_number if @dispute.present? %></li>
                <li>Customer Name:<%= @name if @name.present? %></li>
                <li>Customer Email:<%= @email if @email.present? %></li>
                <li>Order Place date:<%= @created_at.to_date if @created_at.present? %></li>
                <li>Fulfilment Status:<%= @fulfilled_at.to_date if @fulfilled_at.present? %></li>
                <li>Tracking code:<%= @tracking_number if @tracking_number.present? %></li>
                <li>Tracking Url :<%= @tracking_url if @tracking_url.present? %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  <% end %>
  <div class="row">
    <%= render 'layouts/shared/dispute_list' %>
    <div class="col-lg-8" id="chat-view">
      <%= render 'layouts/shared/chat_view' %>
    </div>
  </div>
</div>
<style>
  #submit_search_index {
    display: none;
  }
</style>
<script>
  $(document).on("click", ".make-request", function (e) {
    e.preventDefault();
    var link = $(this).data("href");
    $.ajax({
      type: 'GET',
      url: link
    });
  });

  $('#search_dispute_index').on("keypress", function (e) {
    if (e.keyCode == 13) {
      $("#submit_search_index").click();
    }
  });
</script>