<!-- Page Content -->
<div class=" content ">
  <%= form_tag disputes_path, :method => 'get', class: "search-form" do %>
      <p>
        <%= text_field_tag :search, params[:search], placeholder: 'Search Dispute', class: "form-control mr-sm-2", id: "search_dispute_index" %>
        <%= submit_tag "Search", name: nil, id: "submit_search_index" %>
      </p>
  <% end %>


  <div class="row">
    <%= render 'layouts/shared/dispute_list' %>
    <div class="col-lg-8" id="chat-view">
      <%= render 'layouts/shared/chat_view' %>
    </div>
  </div>
</div>
<style>
  #submit_search_index {
    display: none;
  }
</style>
<script>
  $(document).on("click", ".make-request", function (e) {
    e.preventDefault();
    var link = $(this).data("href");
    $.ajax({
      type: 'GET',
      url: link
    });
  });

  $('#search_dispute_index').on("keypress", function (e) {
    if (e.keyCode == 13) {
      $("#submit_search_index").click();
    }
  });
</script>