<div class="col-md-3 navbar-default sidebar " role="navigation" xmlns="http://www.w3.org/1999/html">
  <div class="sidebar-nav navbar-collapse slimscrollsidebar">
    <div class="user-profile">
      <div class="dropdown user-pro-body">
        <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_vendor.email %>
          <span class="caret"></span></a>
        <ul class="dropdown-menu animated flipInY">
          <li><%= link_to 'My Profile', edit_vendor_registration_path, class:"ti-user"%></li>
          <li><%= link_to(' Logout', destroy_vendor_session_path, method: :get, class: "fa fa-power-off") %></li>
        </ul>
      </div>
    </div>
    <ul class="nav" id="side-menu">
      <li class="sidebar-search hidden-sm hidden-md hidden-lg">
        <!-- input-group -->
        <div class="input-group custom-search-form">
          <input type="text" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
            </span></div>
        <!-- /input-group -->
      </li>
      <% dispute=VendorDispute.find_by(vendor_id: current_vendor.id) %>
      <li><%= link_to '--- Dashboard', vendors_dashboard_index_path %></li>
      <% if dispute.present? %>
          <li><%= link_to 'Disputes', vendors_dashboard_path(dispute.id), class: 'waves-effect' %></li>
      <% end %>
      <li><%= link_to 'Automated Response', new_automated_response_path, class: 'waves-effect' %></li>
      <li><%= link_to 'Presets', new_response_preset_path, class: 'waves-effect' %></li>
      <li><%= link_to 'Style form', form_editor_vendors_dashboard_index_path, class: 'waves-effect' %></li>

    </ul>
  </div>
</div>