<!DOCTYPE html>
<html>
<head>
  <title>Swirble</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'swirblogo.png' %>

</head>

<body>
<!-- Preloader -->
<% if current_vendor.present? %>
    <%= render 'layouts/left_side_navbar' %>
<% end %>
<div id="right-panel" class="right-panel">
  <% if current_vendor.present? %>
      <%= render 'layouts/header' %>
  <% end %>
  <%= yield %>
  <% render 'layouts/footer' %>
</div>
</body>
</html>
